@import "../../assets/styles/variables";

.info {
  display: flex;
  height: 640px;
  column-gap: 20px;
  width: 100%;
}

.first-column {
  width: 26%;
  border-right: 1px solid $grey;

  &__info-task {

  }
}

.second-column {
  width: 33%;
  border-right: 1px solid $grey;
}

.third-column {
  width: 41%;
}

.column-title {
  color: $ligth-grey;
}