.filters {
  &__wrapper {
    display: flex;
    width: 1260px;
    justify-self: center;
    position: absolute;
    left: 17vw;
    column-gap: 5px;
  }

  &__input{
    width: 520px;
    height: 18px;
  }

  &__cheklist {
  
  }
  &__dropdown {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
    position: absolute;
    z-index: 1;
  }

}
.select-user__input{
  width: 180px;
}
