$white: #FFFFFF;

$grey: #B5B5B5;
$ligth-grey: #CCCCCC;
$dark-grey: #333333;


$blue: #7B61FF;
$yellow: #FFC700;

$green: #5EE48C;
$dark-green: #4BD379;

$red: #EB4F4F;

$priority-high__color: #D14343;
$priority-medium__color: #E9B500;
$priority-low__color: #3CA961;
